@model MathGame.Models.ViewModels.QuestionModel
@using Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var endTime = DateTime.Now.AddSeconds(10);
    int timeRemaining = Convert.ToInt32(TimeSpan.FromTicks(endTime.Ticks - DateTime.Now.Ticks).TotalSeconds);
}
<h1>Time Remaining: <span id="secRemaining"></span></h1>
<h1>Question</h1>

<h3>@Model.question.getQuestion()</h3>
<h3 style="text-align:right">Score @Model.user.score</h3>

<form asp-action="Random" asp-controller="MathQuestion" method="post">
    <input type="hidden" asp-for="question.num1" value=@Model.question.num1/>
    <input type="hidden" asp-for="question.num2" value=@Model.question.num2/>
    <input type="hidden" asp-for="question.answer" value=@Model.question.answer/>
    <input type="hidden" asp-for="question.difficulty" value="@Model.question.difficulty"/>
    <input type="hidden" asp-for="user" value=@Model.user/>
    <input type="hidden" asp-for="user.score" value=@Model.user.score/>
    
    <label>Answer:</label>
    <input asp-for="question.user_answer" autofocus="autofocus" />
    <button type="submit" class="btn btn-info" id="submit" value ="submit" name="submit">Submit</button>
</form>
<form asp-action="Scoreboard" asp-asp-controller="MathQuestion" >
    <input type="hidden" asp-for="user.score" value=@Model.user.score />
    <input type="hidden" asp-for="user.Id" value="@UserManager.GetUserId(User)" />
    <input type="hidden" asp-for="user.name" value="@UserManager.GetUserName(User)" />
    <button type="submit" id="Done">Done</button>
</form>



<script>
    var remainingSeconds = @timeRemaining;
    function startTick(){
        document.getElementById('secRemaining').innerText = remainingSeconds;

        var _tick = setInterval(function () //exectute function every 1000 milisecs
        { 
            if(remainingSeconds > 0)
            {
                remainingSeconds = remainingSeconds-1;
                document.getElementById('secRemaining').innerText = remainingSeconds;
            }
            else
            {
                //alert("Your final score is: " + @Model.user.score);
                clearInterval(_tick);
                document.getElementById('Done').click();
            }

        }, 1000); 
    }
    startTick();
</script>
@*
    This is a comment
*@
